NEXT_PUBLIC_SITE_URL=http://localhost:3000

STOCK_API_BASE_URL=http://localhost:8080
SNAPSHOT_API_URL=
OVERVIEW_API_URL=
RADAR_API_URL=
STOCK_DETAIL_API_URL=
HISTORY_API_URL=
NEWS_API_URL=
CALENDAR_API_URL=
INSTRUMENT_SEARCH_API_URL=

OVERVIEW_API_TIMEOUT_MS=30000
RESEARCH_ALLOW_FIXTURE_FALLBACK=false
